{% extends 'base.html' %}

{% block left_nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('playlist_page') }}">Playlist</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tracks</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('trending_page') }}">Trending</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('top_rated_page') }}">Top Rated</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Genre</a>
    <div class="dropdown-menu">
        {% for genre in genres %}
        <a class="dropdown-item" href="{{ url_for('genre_page', id=genre.id) }}">{{ genre.name }}</a>
        {% endfor %}
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
    <div class="dropdown-menu">
        {% for lang in languages %}
        <a class="dropdown-item" href="{{ url_for('language_page', id=lang.id) }}">{{ lang.name}}</a>
        {% endfor %}
    </div>
</li>
<br>

{% endblock %}

{% block right_nav %}

<form class="d-flex me-2 mr-1" method="post" action="{{ url_for('home_page') }}">
    <input class="form-control me-2 rounded ml-2 custom-input" type="search" name="searched" placeholder="Search">
    <button class="btn btn-secondary rounded mr-2 ml-2" type="submit">Search</button>
</form>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile_page') }}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('register_creator_page') }}">Creator</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
</li>
{% endblock %}

{% block content %}
{% if searched %}
    <h1 class="text-success">Search results for: {{searched}}</h1>
{%endif%}

<section class="py-5 px-0" id="album">
    <div class="container">
        <h2 class="mb-5">Albums</h2>
        {% if albums %}
        <div class="row row-cols-lg-2">
        {% for album in albums %}
        <div class="col-lg-3 col-md-4 col-6 mb-4 mt-1">
            <div class="card">
                <a href="{{ url_for('album_page', id=album.id) }}" style="text-decoration: none;">
                    <img src="{{ url_for('static', filename='images/{}'.format(album.cover_path)) }}" class="card-img-top custom-img">
                    <div class="card-body custom-card-body d-flex align-items-center justify-content-start">
                        <h5 class="card-title">{{ album.title }}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <p>No albums available.</p>
        {% endif %}
    </div>
</section>
<section class="py-0 px-0 mb-5 " id="artist">
    <div class="container">
        <h2 class="mb-5">Artists</h2>
        {% if artists %}
        <div class="row row-cols-lg-2">
            {% for artist in artists %}
            <div class="col-lg-3 col-md-4 col-6 mb-4 mt-1">
                <div class="card">
                    <a href="{{ url_for('artist_page', id=artist.id) }}" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='images/{}'.format(artist.pfp_path)) }}" class="card-img-top custom-img">
                        <div class="card-body custom-card-body d-flex align-items-center justify-content-start">
                            <h5 class="card-title">{{ artist.stage_name }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No artists available.</p>
        {% endif %}
    </div>
</section>
<section class="py-0 px-0 mb-5 " id="track">
    <h2 class="mb-5 ml-4"> Tracks </h2>
    {% if tracks %}
    <table class="table text-light">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
            <tr>
                <th scope="row"><a href="{{url_for('play_page', id=track.id)}}"
                        style="text-decoration: none; color: white;">{{track.title|title}}</a></th>
                <td>{{ User.query.filter_by(id=track.creator_id).first().stage_name|title }}</td>
                <td>{{ Genre.query.filter_by(id=track.genre_id).first().name }}</td>
                <td>{% set rating = track.avg_rating() %}
                    {% if rating == 0.0 %}
                    {{ None }}
                    {%else%}
                    {{rating}}
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p class="ml-4">No tracks found.</p>
    {% endif %}

</section>
{% endblock %}

