{% extends 'creator.html' %}
{% block left_nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('creator_page') }}">Creator</a>
</li>

{% endblock %}

{% block right_nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile_page') }}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
</li>
{% endblock %}
{% block content %}

        <div class="container">
            <form method="post" class="container mt-4" style="color:white" enctype="multipart/form-data" novalidate autocomplete="off">
        
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 font-weight-normal">
                    {{heading}}
                </h1>
                <br>

                {{ form.title.label() }}
                {{ form.title(class="form-control", placeholder="Enter your song name") }} <br>

                {{ form.language.label() }}
                <select name="{{ form.language.name }}" class="form-control">
                    {% for language in languages %}
                    <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                </select> <br>

                {{ form.genre.label() }}
                <select name="{{ form.genre.name }}" class="form-control">
                    {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endfor %}
                </select> <br>
                {% if form.audio %}
                    {{ form.audio.label() }}
                    {{ form.audio(class="form-control-file text-bg-dark mb-3", type="file") }} <br>
                {% endif %}
                {{ form.lyrics.label() }}
                {{ form.lyrics(class="form-control", placeholder="Enter the lyrics") }} <br>

                {{ form.submit(class="btn btn-lg btn-block btn-primary") }} <br>
            </form>
        </div>

{% endblock %}


